@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.App {
  text-align: left;
}

h1 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.TodoWrapper {
  background: #333;
  margin-top: 3rem;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.TodoForm {
  width: 100%;
  margin-bottom: 2rem;
}

.todo-input {
  outline: none;
  background: #f2f2f2;
  border: 1px solid #333;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  width: 320px;
  color: #333;
  border-radius: 5px;
}

.todo-input::placeholder {
  color: #33333399;
}

.todo-btn {
  background: #333;
  color: #fff;
  border: 1px solid #333;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.todo-btn:hover {
  background: #555;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #555;
  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  transition: background 0.3s;
}

.Todo:hover {
  background: #777;
}

.fa-trash {
  margin-left: 1rem;
  color: #ff5555;
  transition: color 0.3s;
}

.fa-trash:hover {
  color: #ff0000;
}

.incompleted {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.incompleted:hover {
  color: #c5aeff;
}

.completed {
  color: #aaaaaa;
  text-decoration: line-through;
  cursor: pointer;
  transition: color 0.3s;
}

.completed:hover {
  color: #888888;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  transition: transform 0.3s;
}

.edit-icon:hover,
.delete-icon:hover {
  transform: scale(1.2);
}
